<link href="http://fonts.cdnfonts.com/css/pokemon-solid" rel="stylesheet" />
<link rel="preconnect" href="https://fonts.googleapis.com" />
<link rel="preconnect" href="https://fonts.gstatic.com" crossorigin />
<link
  href="https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500&display=swap"
  rel="stylesheet"
/>

<style>
  .footer-container {
    margin-top: 10rem;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 2rem;
  }
  .footer-container {
    font-family: "Poppins", sans-serif;
    font-size: 1.3rem;
  }
</style>

<div class="footer-container">
  <!-- <section class="footer">
    Team: <br />
    Aditya Vardhan <br />
    Aditya Deshpande <br />
    Adil Khan <br />
    Abhishek Kumar
  </section> -->
</div>
