<style type="text/css" media="screen">
  .poke-name-text {
    border: none;
  }
  .button {
    width: 8rem;
    height: 2.4rem;
    font-size: 0.7rem;
    text-transform: uppercase;
    letter-spacing: 2.5px;
    font-weight: 500;
    color: #000;
    background-color: #fff;
    border: none;
    border-radius: 45px;
    transition: all 0.3s ease 0s;
    cursor: pointer;
    outline: none;
  }

  .button:hover {
    background-color: #e56049;
    color: #fff;
    transform: translateY(-5px);
  }
  .field {
    border: none;
    display: flex;
    gap: 3rem;
    align-items: center;
    justify-content: center;
  }
  .name-input {
    display: flex;
    gap: 1.2rem;
    justify-content: center;
    align-items: center;
  }
  .poke-name-text {
    min-width: 2rem;
    height: 2rem;
    padding: 0.6rem;
    border-radius: 0.8rem;
  }
  .poke-name-label {
    font-size: 1.1rem;
  }
</style>
<form action="/search" class="query-form" method="post">
  <fieldset class="field">
    <div class="name-input">
      <label for="poke-name-text" class="poke-name-label">Pokemon</label>
      <input
        type="text"
        name="pokename"
        id="poke-name-text"
        class="poke-name-text"
      />
    </div>
    <div class="checkbox-container">
      <label for="legendary" class="legendary-checkbox-label">Legendary</label>
      <input
        type="checkbox"
        name="legendary"
        id="legendary-checkbox"
        class="legendary-checkbox"
      />
    </div>
    <button type="submit" value="OK" class="button">Submit</button>
  </fieldset>
</form>
