<form action="/search" class="query-form" method="post">
  <fieldset>
    <div class="pokemon-name-container">
      <label for="poke-name-text" class="poke-name-label">Pokemon</label>
      <input
        type="text"
        name="pokename"
        id="poke-name-text"
        class="poke-name-text"
      />
    </div>
    <button type="submit" value="OK">Submit</button>
  </fieldset>
</form>
