<!DOCTYPE html>
<html lang="en" translate="no">
  <head>
    <title>PokeDex</title>
    <link href="http://fonts.cdnfonts.com/css/pokemon-solid" rel="stylesheet" />
    <link rel="preconnect" href="https://fonts.googleapis.com" />
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin />
    <link
      href="https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500&display=swap"
      rel="stylesheet"
    />
    <style type="text/css" media="screen">
      * {
        margin: 0;
        padding: 0;
        box-sizing: border-box;
      }
      html {
        overflow: scroll;
        overflow-x: hidden;
      }
      ::-webkit-scrollbar {
        width: 0;
        background: transparent;
      }
      body {
        background-color: #f5e3c1;
        text-decoration: none;
        overflow: hidden;
        font-family: "Poppins", sans-serif;
      }
      .title {
        text-align: center;
        font-size: 4rem;
        font-family: "Pokemon Solid", sans-serif;
      }
      ul {
        list-style: none;
      }
      .header {
        margin-bottom: 1.5rem;
      }
    </style>
  </head>

  <body>
    <%- include ('partials/header.ejs')%> 
    <% if(url=="/trainer"){ %>
    <%-include('partials/trainerquery.ejs')%> 
    <% } else{ %>  
    <%- include ('partials/query.ejs')%>
    <% } %>
    <%- include ('partials/footer.ejs')%>
  </body>
</html>

<script>
  const form = document.querySelector("query-form");
  form.addEventListener("submit", (e) => {
    e.preventDefault();
  });
</script>
